language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

branches:
  only:
    master

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

install:
  - travis_retry composer install

script:
  - if [ "$TRAVIS_PHP_VERSION" != "7.2" ]; composer test
  - if [ "$TRAVIS_PHP_VERSION" == "7.2" ]; composer test-coverage
